.scrollable {
  max-height: 600px;
  overflow-y: auto;
  padding: 5px;
}

.term-header {
  height: 30px;
}

header {
  background-color: #ecf0f1;
  margin-bottom: 30px;
}

.row-margin {
  margin-top: 10px;
  margin-bottom: 10px;
}

.fuzzy-search {
  height: 40px;
}

.withoutDefaultTranslation {
  color: #FF0000 !important;
}
