<!doctype html>
<html>
  <head>
    <title>{{ .title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">

    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css" />
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css" />

    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>
    <script src="/semantic/dist/semantic.min.js"></script>

    <script src="/assets/js/terms.js"></script>
    <script src="/assets/js/filteredTermList.js"></script>
  </head>

  <body>

    {{ if .is_logged_in }}
      <header>
        <a href="/u/logout" class="ui right floated">
          <i class="sign out icon"></i>
          Log out
        </a>
      </header>
    {{ end }}
