<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
  </head>

  <body>
    <div class="ui container">

        <h2 class="ui dividing header">{{ .title }}</h2>

        <div class="ui text container">
          <div class="ui cards">
            {{range .projects}}

                  <div class="card">
                    <div class="content">

                      <div class="header">{{.Name}}</div>
                      <div class="description">

                        <p>
                        {{.TermsCount}} translations
                        </p>

                        <p>
                        {{range .CountryCodes}}
                          <img src="/assets/images/flags/gif/{{.}}.gif" width="16" height="11" />
                        {{end}}
                        </p>
                      </div>
                    </div>

                  <a href="/project/{{.ID}}">
                    <div class="ui bottom attached button">
                      <i class="add icon"></i> {{.Name}}
                      </div>
                  </a>

                  </div>

            {{end}}
          </div>
        </div>

    </div>
    </body>
</html>
