  {{ template "_header.tmpl" .}}

    <header class="header-padded">

      <div class="ui container">
        <div class="ui breadcrumb">
          <div class="active section">Home</div>
        </div>
      </div>

    </header>

    {{ template "_logged-user-bar.tmpl" .}}

    <div class="ui container">

        <h2 class="ui dividing header">{{ .title }}</h2>

        <div class="ui grid">

            <div class="row">
              <div class="column">

                <div class="ui right floated basic buttons">

                    {{ if .is_logged_in }}
                      <!-- Add project -->
                      <a href="/add/new/project" class="ui button">
                        <i class="icon plus"></i>
                        Create new project
                      </a>
                    {{ end }}

                </div>

              </div>
            </div>
          </div>

        <div class="ui text container">
          <div class="ui cards">
            {{range .projects}}

                  <div class="card">
                    <div class="content">

                      <div class="header">{{.Name}}</div>
                      <div class="description">

                        <p>
                        {{.TermsCount}} terms
                        </p>

                        <p>
                        {{range .CountryCodes}}
                          <i class="{{.}} flag"></i>
                        {{end}}
                        </p>
                      </div>
                    </div>

                  {{ if $.is_logged_in }}
                    <a href="/project/{{.ID}}">
                      <div class="ui bottom attached button">
                        <i class="world icon"></i> Translate
                      </div>
                    </a>
                  {{ end }}

                  </div>

            {{end}}
          </div>
        </div>

    </div>

{{ template "_footer.tmpl" .}}
