  {{ template "_header.tmpl" .}}

    <header>

      <div class="ui container">
        <div class="ui breadcrumb">
          <div class="active section">Home</div>
        </div>
      </div>

    </header>

    <div class="ui container">

        <h2 class="ui dividing header">{{ .title }}</h2>

        <div class="ui text container">
          <div class="ui cards">
            {{range .projects}}

                  <div class="card">
                    <div class="content">

                      <div class="header">{{.Name}}</div>
                      <div class="description">

                        <p>
                        {{.TermsCount}} translations
                        </p>

                        <p>
                        {{range .CountryCodes}}
                          <i class="{{.}} flag"></i>
                        {{end}}
                        </p>
                      </div>
                    </div>

                  <a href="/project/{{.ID}}">
                    <div class="ui bottom attached button">
                      <i class="add icon"></i> {{.Name}}
                      </div>
                  </a>

                  </div>

            {{end}}
          </div>
        </div>

    </div>

{{ template "_footer.tmpl" .}}
