{{ template "_header.tmpl" .}}

  <header>

    <div class="ui container">
      <div class="ui breadcrumb">
        <a class="section" href="/">Home</a>
        <div class="divider"> / </div>
        <div class="active section">Login</div>
      </div>
    </div>
  </header>

  <div class="ui container">

      You are logged in Successfully
      <a href="/">Main page</a>

  </div>

{{ template "_footer.tmpl" .}}
