<html>
  <head>
    <link rel="stylesheet" type="text/css" href="/semantic/dist/semantic.min.css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="/semantic/dist/semantic.min.js"></script>
  </head>

  <body>
    <div class="ui container">

      	<h1 class="uk-heading-primary">
      		{{ .title }}
      	</h1>

        {{range .project.Terms}}
            <div class="four wide column">
                {{.Code}} ({{.Comment}})
            </div>
        {{end}}


    </div>
    </body>
</html>
