{{ template "_header.tmpl" .}}

    <div class="ui container">

      <div class="ui breadcrumb">
        <a class="section" href="/">Home</a>
        <div class="divider"> / </div>
        <div class="active section">Project {{ .project.Name}}</div>
      </div>

      	<h1 class="uk-heading-primary">
      		{{ .project.Name}}
      	</h1>

        <div class="ui grid">

          <!-- Left column: scrollable term list -->
          <div class="eight wide column scrollable" id="terms-list-panel">
              <table class="ui very basic collapsing celled table">
                <tbody>

                  {{range .project.Terms}}
                      <tr id="row-{{.ID}}" class="row">
                        <td class="clickable-term" data-id="{{.ID}}">
                          {{.Code}}
                        </td>
                      </tr>
                  {{end}}

                </tbody>
              </table>
          </div>

          <!-- Right column: details of selected term -->
          <div class="eight wide column" id="translations-panel">
              nothing is selected
          </div>

        </div>

    </div>

    <input type="hidden" id="projectId" value="{{.ptoject.ID}}" />

{{ template "_footer.tmpl" .}}
