<form class="ui form">

  {{if .term.Comment}}
  <div class="ui message">
    <p>{{.term.Comment}}</p>
  </div>
  {{end}}

  {{range .term.Translations}}
  <div class="field">
    <label class="term-header">
      <i class="{{.CountryCode}} flag"></i>

       {{.CountryCode}}

       {{ if .IsDefault }}
          <strong>(default)</strong>
       {{end}}

       <span id="savel-label-{{.TermId}}-{{.CountryCode}}" class="ui small green label saved-label" style="display: none;">Saved</span>
    </label>

    <textarea class="editable" rows="2" data-term-id="{{.ID}}" data-country-code="{{.CountryCode}}">{{.Translation}}</textarea>
  </div>
  {{end}}

  <input type="hidden" id="termId" value="{{.termId}}" />

</form>
