<form class="ui form">

  {{if .term.Comment}}
  <div class="ui message">
    <p>{{.term.Comment}}</p>
  </div>
  {{end}}

  {{range .term.Translations}}
  <div class="field">
    <label class="term-header">
      <i class="{{.CountryCode}} flag"></i>

       {{.CountryCode}}

       {{ if .IsDefault }}
          <strong>(default)</strong>
          {{ if not .Translation}}
              <span id="warn-label-def-lang-{{$.termId}}">
                <i class="warning sign icon withoutDefaultTranslation"></i>
                Translation for the default language is missing!
              </span>
          {{ end }}
       {{end}}

       <span id="saved-label-{{.TermId}}-{{.CountryCode}}" class="ui small green label saved-label" style="display: none;">Saved</span>
    </label>

    <textarea class="editable" rows="2" data-term-id="{{.ID}}" data-country-code="{{.CountryCode}}" data-is-default="{{.IsDefault}}">{{.Translation}}</textarea>
  </div>
  {{end}}

  <input type="hidden" id="termId" value="{{.termId}}" />

</form>
